<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liste des catégories</title>
</head>
<body>
	<div class="container">
		<h3>Liste des catégories</h3>
	</div>
<!-- 	<div class="container"></div>
	<div class="container spacer">
		<div class="panel panel-primary">
			<div class="panel-heading">Liste des produits</div>
			<div class="panel panel-body">
				<div class="container">
					<label>Mot Clé:</label>
					<input type="text" ng-model="motCle"/>
					<button ng-click="chercher()" class="btn btn-primary">Chercher</button>
				</div>
				<table class="table table-striped">
					<tr>
						<th>ID</th><th>Désignation</th><th>Prix</th><th>Quantité</th>
					</tr>
					<tr ng-repeat="p in pageProduits.content">
						<td>{{p.id}}</td>
						<td>{{p.designation}}</td>
						<td>{{p.prix}}</td>
						<td>{{p.quantite}}</td>
					</tr>
				</table>
				<div class="container">
					<ul class="nav nav-pills">
						<li ng-class="{active:pageCourante==$index}" class="clickable" ng-repeat="p in pages track by $index">
							<a ng-click="gotoPage($index)">{{$index}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div> -->
</body>
</html>